.featured-storylist {}

.story-container {
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.story-img {
  width: 250px;
  height: 120px;
  margin: 20px;
}

.story-img img {
  width: 100%;
  height: 100%;
}

.story-title {
  font-size: 14px;
}

.story-date {
  font-size: 12px;
}